@import url("https://fonts.googleapis.com/css2?family=BenchNine:wght@300;400;700&display=swap");

.blog {
  background-color: darkgray;
}
.blog__content {
  text-align: center;
}
.blog__title{
    font-family: BenchNine;
    color: rgb(197, 163, 92);
}
.blog__post{
    border: 1px solid black;
}
.blog__more{
    text-align: center;
}
