@import url(global.css);
@import url(header.css);

.blog {
  background-color: var(--background-color);
}
.blog__content {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.blog__post {
  border: 1px solid black;
}
.blog__more {
  text-align: center;
}
