.contact {
    flex-direction: column;
    background: linear-gradient(rgba(33, 32, 32, 0.84), rgba(33, 32, 32, 0.84)), url("../img/contact-form/smoke-and-cigar.webp");
    background-position: center;
    margin: auto;
    background-size: cover;
    height: 170vw;
    max-height: 650px;
}
.main-area {
    width: 90%;
    max-width: 700px;
    background-color: var( --alternative-background-color);
    margin: auto;
    text-align: center;
    position: relative;
    top: 17%;
    padding: 35px 25px;
}
.contact__title {
    padding-bottom: 5%;
    font-size: 33px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.contact__description {
    font-size: 19px;
    padding: 3% 5%;
    line-height: 27px;
    color: var(--description-text-color);
}
.request-area {
    width: 90%;
    margin: 0 5%;
}
.contact__input {
    background-color: rgb(46, 46, 46);
    width:100%;
    margin-top: 20px;
    padding: 15px;
    border: none;
    font-size: 16px;
    font-weight: bold;
}
.contact__button {
    margin-top: 23px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;
    background-color: var(--title-color);
    transition: ease-in-out all 0.2s;
}
.contact__button:hover, .contact__button:active {
    background-color: var(--alternative-button-highlight-color);
}
@media (min-width: 768px) {
    .main-area {
        width: 45%;
    }
    .contact__title {
        font-size: 40px;
    }
    .contact__description {
        padding: 5% 7%;
    }
}
@media (min-width: 992px) {
    .main-area{
        padding: 40px 30px;
        max-width: 560px;
    }
    .contact__title {
        font-size: 45px;
    }
}

