.contact {
    flex-direction: column;
    background: linear-gradient(rgba(33, 32, 32, 0.84), rgba(33, 32, 32, 0.84)), url("../img/contact-form/smoke-and-cigar.webp");
    background-position: center;
    background-repeat: no-repeat;
    margin-right: auto;
    margin-left: auto;
    background-size: 100%;
}

.main-area {
    width: 60%;
    background-color:var(--background-color); 
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    text-align: center;
    padding: 5%;
}

.contact__title {
    font-size: 55px;
    padding-bottom: 7%;
}

.contact__description {
    font-size: 18px;
    padding: 7%;
}

.contact__button {
margin-top: 30px
}


