.cooperation {
    background-color: var(--background-color);
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.cooperation__title {
    font-size: 55px;
}

.cooperation__description {
    font-size: 18px;
}

.cooperation__subtitle {
    font-size: 30px;
    color: white;
}

.cooperation-consulting {
    flex-direction: column;
    background: linear-gradient(rgba(8, 7, 7, 0.75), rgba(8, 7, 7, 0.75)), url("../img/coop-options/man-in-field.webp");
    background-position: center;
    background-repeat: no-repeat;
    margin-right: auto;
    margin-left: auto;
    padding: 15%;
    width: 80%;
    background-size: 100%;
}

.cooperation-tobacco {
    flex-direction: column;
    background: linear-gradient(rgba(8, 7, 7, 0.75), rgba(8, 7, 7, 0.75)), url("../img/coop-options/tobacco-woman.webp");
    background-position: center;
    background-repeat: no-repeat;
    margin-right: auto;
    margin-left: auto;
    padding: 15%;
    width: 80%;
    background-size: 100%;
}

.cooperation-cigar {
    flex-direction: column;
    background: linear-gradient(rgba(8, 7, 7, 0.75), rgba(8, 7, 7, 0.75)), url("../img/coop-options/cigars-pack.webp");
    background-position: center;
    background-repeat: no-repeat;
    margin-right: auto;
    margin-left: auto;
    padding: 15%;
    width: 80%;
    background-size: 100%;
}

.cooperation__button {
    background-color: var(--button-highlight-color);
    padding: 10px;
}