.header__logo-image{
    width: 177px;
}
.header{
    background-image:  url("../img/header/header-background.webp");
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    text-align: center;
    color: var(--text-color);
}
.header__nav,.header__hero-image{
    padding: 40px;
    margin: auto;
    max-width: 1200px;

    display: flex;
    
}
.header__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.header__hero{
  
    flex-direction: column;
}
.header__list{
    display: none;   
}
.header__logo-container{
    justify-content: flex-start;
    
}
.header__burger{
   width: 50px;
   height: 50px;
   background-color: rgba(0,0,0,0);
   border: 0cap;
   align-self: center;
}
.header__burger-line{
    color:var(--text-color);
    background-color: var(--text-color);
    width: 30px;
    height: 3px;
    margin-top: 5px;
}
.burger__inner{
    display: flex;
    flex-direction: column;
    
    
}
@media (min-width: 1050px) {
    .header__list{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        flex: 1;
        max-width: 750px;
        list-style-type: none;
    } 
    .header__list-item{

        margin: 5px;
        padding: 5px;
        
    }
    
    .header__burger{
        display: none;  
    }
    
}
.header__links{
    margin-top: 50px;
    margin-bottom: 50px;
}
.header__notice{
    background-color: var(--alternative-background-color);
    padding: 20px;
}
.header__link{
    margin: 20px;
}