.history {
  background-color: var(--background-color);
  padding: 80px 0;
  text-align: center;
}
.history__title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}
.history__titles-underscore {
  margin-bottom: 40px;
}
.history__description {
  font-size: 18px;
  margin-bottom: 40px;
}
.history__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.history-card {
  width: 300px;
  margin: 0 20px 40px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.history-card__image {
  margin-bottom: 20px;
}
.history-card__title {
  font-size: 20px;
  margin-bottom: 10px;
}
.history-card__description {
  font-size: 16px;
}
.history__link {
  margin-top: 40px;
}
.history-link__button {
  padding: 10px 20px;
  background-color: var(--background-color);
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.history-link__button:hover {
  background-color: #ffffff;
}
