.origin {
    background-image: url(../img/origins.webp);
    background-color: var(--background-color);
    background-origin: border-box;
    background-attachment: fixed;
    padding: 95px 0px 100px;

}

.origin__title {
    font-size: 46px;
    text-align: center;
}

.origin__subtitle {
    color: var(--description-text-color);
    font-size: 19px;
    text-align: center;
}

.description {
    max-width: 600px;
    margin: auto;
    padding: 10px;
    display: flex;
}

.description__article {
    color: var(--text-color);
    font-size: 17px;
    text-align: center;

}

.origin .index__titles-underscore {
    text-align: center;  
    margin: auto; 
}
@media (min-width: 320px) and (max-width: 767px) {
    .origin__title{
        font-size: 34px;
    }
    .origin {
        background-color: var(--background-color);
    }
}
@media (min-width: 768px) and (max-width: 1020px) {
    .origin__title{
        font-size: 40px;
    }
    
}