.partners {
    padding-bottom: 95px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(27, 25, 26);
}

.partners-title {
    font-family: 'BenchNine', sans-serif;
    font-weight: bold;
    color: #c5a35c;
    font-size: 51px;
    letter-spacing: 2px;
}

.partners-carousel {
    display: flex;
    transition: transform 0.8s ease-in-out;
}

.carousel-image-partners {
    width: 520px;
    height: auto;
}

.line {
    margin-top: -30px;
}

.partners-text {
    font-family: 'Roboto', sans-serif;
    color: #d0c8b9;
    font-size: 21px;
}

.pictures {
    max-height: 131px;
}

/* slider */

.partner-сontainer {
    margin-top: 25px;
    margin-left: 50px;
}

.partners-carousel-container {
    position: relative;
    overflow: hidden;
}

.carousel-image {
    user-select: none;
    position: relative; /* Изменено с absolute на relative */
}

.carousel {
    display: flex;
    max-width: 1200px;
    gap: 130px;
}

.carousel.sliding-transition {
    transition: transform 0.5s ease-in-out;
}

.arrow-button {
    margin-top: -100px;
    position: absolute;
    top: 50%;
    color: #000;
    cursor: pointer;
    width: 36px;
    font-size: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    color: rgb(209, 209, 209);
}

.pictures {
    height: 155px;
}

.left-arrow {
    left: 20px;
}

.right-arrow {
    right: 20px;
}

/* next section */

.cigarette {
    padding-right: 80px;
    padding-left: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50vh;
    background: linear-gradient(rgba(33, 32, 32, 0.84), rgba(33, 32, 32, 0.84)), url('../img/background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    display: flex;
    align-items: center;
    max-width: 280px;
}

.uniq {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 44px;
    color: #c5a35c;
    margin-right: 25px;
}

.cigarette-text {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: white;
}
